body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden !important;
    color: #838282;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #2f2f2f;
}

a:focus {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
}

h2 {
    color: #777;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    padding-bottom: 10px;
}

img {
    border: none;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    /* change if the mask should have another color then white */
    z-index: 99999;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(assets/images/preloader.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}


/*--------------------*/
/* MENU */
/*--------------------*/


.navigation{
    float: left;
	display: inline;
    width: 100%;
    position: fixed;
    display: block;
    z-index: 100000;
	
}
.navbar-default .navbar-nav > li > a:hover{
	color:#008080;
}
.navbar-default .navbar-nav > li > a:hover i{
	color: #008080;

}
 .navbar-brand:hover p{
	color: #008080;
}

.navbar-brand{
	padding: auto;
}

#menu-btn {
    color: #008080;
    font-size: 30px;

}


.main-nav {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}


.main-nav ul li a {
    color: #008080;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 35px;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.main-nav ul li>a>i {
    padding-right: 10px;
}


.main-nav a:hover,
.main-nav a:focus {
    background: #182029;
}


.main-nav a:active {
    background: #182029;
}


.main-nav.menu-open {
    right: 0px;
}


.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}


.main-nav,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-brand img{
    max-height: 140%;
    max-width: 140%;
}
.navbar-default .navbar-nav>li>a{
	padding: 20px;

}


/*--------------------*/
/* CUSTOMERS */
/*--------------------*/

#aa-about-us{
	display: inline;
	float: left;
    width: 100%;
    margin: 10% 0 5%;
}




.title-area {
	display: inline;
	float: left;
	padding: 0 150px;
	text-align: center;
    width: 100%;
    margin :5% 0;
}


.title-area .title {
	border-bottom: 2px solid #ccc;
	color: #777;
	display: inline-block;
	font-size: 33px;
	font-weight: 700;
	padding-bottom: 20px;
	position: relative;
	text-transform: uppercase;
}
.title-area .title span{
	color: #008080;

}


.title-area .title::before {
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 60px;
	width: 150px;
	background-color:  #008080;

}


.title-area p {
	color: #777777;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.8;
	padding: 20px 0 30px;
}

.card {
    height:40%;;
    width: 80%;
    border-radius: 40px;
    box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.05), -2px -2px 20px 4px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.4s;
}
.about-image img{
    margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  display: block;
}
.card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.card .card_image img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.15),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.12);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

/*--------------------*/
/* FOOTER */
/*--------------------*/


#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    display: inline;
    float: left;
    padding: 40px 0 0;
}

.container-fluid{
    padding: 0;
}
.footer-social {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
}


.footer-social a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin: 5px;
}

.footer-social .title-area h2 {
    color: #008080;
}

.footer-text {
    display: inline;
    float: left;
    padding: 10px 0 0;
    width: 100%;
    text-align: center;
}


.footer-text p {
    margin-bottom: 0;
}


.footer-text p a {
    color: #838282;
    text-decoration: none;
}

.footer-social .title-area{
    margin: 0;
}
/*--------------------*/
/* Social Media Links */
/*--------------------*/

.social-container {
    text-align: center;
}

.social-icons {
    list-style: none;
    margin: 1em;
    align-content: center;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
    vertical-align: middle;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 35%;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #008080, #008080);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #008080;
    background: -webkit-linear-gradient(45deg, #008080, #008080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.copyright {
    border-top: 1px #fff;
    bottom: 0;
    width: 100%;
    background-color: #008080;
}
.footer-copyright p{
    color: #fff;
    margin: 0;
}

.title-area .title span {
    color: #008080;
}
.footer-social .title-area {
margin-bottom:2%;}




@media(max-width:480px) {


	.main-nav ul li a {
		font-size: 14px;
		padding: 8px 35px;
	}

	.navbar-default .navbar-nav>li>a{
		padding: 10px;
	
	}
	.header-bottom-right {
		margin-top: 30px;
	}

	.header-bottom-left {
		padding-right: 0;
		padding-top: 0;
		margin-top: 10px;
	}

	.header-bottom-left h1 {
		font-size: 25px;
		line-height: 30px;
	}

	.header-bottom-left p {
		margin: 10px 0 0;
	}

	.download-btn {
		margin-top: 20px;
		width: 160px;
	}

	.header-bottom-right img {
		width: 50%;
	}

	.title-area {
		padding: 0;
    }
    
.about-image img{
		width: 60%;
		margin: 0;
    }
    #aa-about-us{
        display: inline;
        float: left;
        width: 100%;
        margin: 100px 0 5%;
    }
	
    .card {
        height:auto;
        width: 80%;
        border-radius: 40px;
        box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
        cursor: pointer;
        transition: 0.4s;
    }
    .about-us-content .content .mySlides .about-image img{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;

    }
    .card:hover {
        transform: scale(0.9, 0.9);
        box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
            -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    }




	.title-area .title {
		font-size: 25px;
		padding-bottom: 10px;
	}

	.title-area .title::before {
		top: 50px;
	}

	.view-btn {
		margin-right: 25%;
	}

	.social-icons li {
		width: 15%;
		height: 7%;
	}

	.social-icons i {
		top: 30%;
		left: 40%;
	}

	.social-icons a {
		display: inline-block;
		width: 88%;
		height: 88%;
	}

	.social-icons a::before {
		transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		content: " ";
		width: 40px;
		height: 40px;
		border-radius: 100%;
		display: block;
		background: linear-gradient(45deg, #008080, #008080);
		transition: all 265ms ease-out;
	}



}
